<!DOCTYPE html>
<html>
  <head>
    <title>Osmo admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/style.css" rel="stylesheet" media="screen">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="static/css/jquery.simple-dtpicker.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.simple-dtpicker.js"></script>
  </head>
  <body>
      <div class="span12 center top-offset">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-{{ category }}">
                {% else %}
                <div class="alert alert-{{ category }}">
                {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        <hr>
        {% endif %}
    {% endwith %}

  <div class="row">
    <div class="span8">
        <form action="" method=post enctype=multipart/form-data class="form-horizontal">
            <div class="control-group">
                <label for="email" class="control-label">
                    File
                </label>
                <div class="controls">
                    <input name="file" type="file" value="" id="file">
                </div>
            </div>

            <div class="control-group">
                <label for="start" class="control-label">
                    Start
                </label>
                <div class="controls"><input name="start" type="text" value="" id="start">
                </div>
            </div>

            <div class="control-group">
                <label for="end" class="control-label">
                    End
                </label>
                <div class="controls"><input name="end" type="text" value="" id="end">
                </div>
            </div>

            <div class="control-group">
                <label for="duration" class="control-label">
                    Duration
                </label>
                <div class="controls"><input name="duration" type="text" value="10" id="duration">
                </div>
            </div>

            <div class="control-group">
                <label for="rank" class="control-label">
                    Rank
                </label>
                <div class="controls"><input name="rank" type="text" value="1" id="rank">
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-large btn-primary">Upload</button>
            </div>
        </form>
    </div> <!-- .span8 -->
</div>
</div>
</div>
    <script>
    var d = new Date();
    // Set sane-ish default times
    // Set start to the start of the current day
    var now = d.getFullYear() + '-' + (d.getMonth()+1) + '-' + d.getDate() + " 00:00";
    $('input#start').appendDtpicker({
            'dateFormat' : "YYYY-MM-DD hh:mm",
            'current' : now,
            'closeOnSelected' : true
        });
    // Set end to the end of the next day
    d.setDate(d.getDate() + 1);
    $('input#end').val(d.getFullYear() + '-' + (d.getMonth()+1) + '-' + d.getDate() + " 23:30");
    $('input#end').appendDtpicker({
            'dateFormat' : "YYYY-MM-DD hh:mm",
            'closeOnSelected' : true
        });
    </script>
  </body>
</html>
