<!DOCTYPE html>
<html>
  <head>
    <title>Osmo admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/style.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div class="span12 center top-offset">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if error %}
                <div class="alert alert-error">
                {% else %}
                <div class="alert alert-success">
                {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        <hr>
        {% endif %}
    {% endwith %}
    <h2>Active rotation (in order)</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
      {% for item in active_items %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <hr>
    <h2>All items</h2>
<div class="btn-toolbar">
    <button class="btn btn-primary" onclick="location.href='{{ url_for('add') }}'">New item</button>
</div>
    <table class="table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
          <th>Duration</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
      {% for item in items %}
        <tr>
            <td>{{ item.rank }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.start }}</td>
            <td>{{ item.end }}</td>
            <td>{{ item.duration }}</td>
          <td>
              <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text">Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>
</div>
  </body>
</html>
