<!DOCTYPE html>
<html>
  <head>
    <title>Osmo admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div class="span12 center top-offset">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if error %}
                <div class="alert alert-error">
                {% else %}
                <div class="alert alert-success">
                {% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        <hr>
        {% endif %}
    {% endwith %}
    <h2>Active rotation (in order)</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
      {% for name, slide in active_slides %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ slide.duration }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <hr>
    <h2>All slides</h2>
<div class="btn-toolbar">
    <button class="btn btn-primary" onclick="location.href='{{ url_for('add') }}'">New slide</button>
</div>
    <table class="table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
          <th>Duration</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
      {% for name, slide in slides %}
        <tr>
            <td>{{ slide.rank }}</td>
            <td>{{ name }}</td>
            <td>{{ slide.start }}</td>
            <td>{{ slide.end }}</td>
            <td>{{ slide.duration }}</td>
          <td>
              <a href="{{ url_for('rem', slide_name=name) }}" role="button"><i class="icon-remove"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
  </body>
</html>
